.game-element-wrapper {
  height: 200px;
  border: 1px solid blue;
  background-color: rgb(198, 255, 237);
  border-radius: 5px;

  .element-content-wrapper {
    display: flex;

    .name-img-wrapper {
      width: 200px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-wrap: wrap;
      text-align: center;

      img {
        min-width: 70px;
        min-height: 70px;
        max-width: 150px;
        max-height: 100px;
      }
    }

    .description-wrapper {
      width: 200px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
  .element-relationships {
    img {
      max-width: 50px;
      max-height: 50px;
    }
  }
}

.game-element-wrapper.square {
  width: 200px;

  .element-content-wrapper {
    .description-wrapper {
      display: none;
    }
  }
  .element-relationships {
    display: none;
  }
  .element-notes {
    display: none;
  }
}

.game-element-wrapper.card {
  width: 500px;

  .element-relationships {
    display: none;
  }
  .element-notes {
    display: none;
  }
}

.game-element-wrapper.row {
  width: 90%;
  display: flex;

  .element-relationships {
    display: none;
  }
  .element-notes {
    display: none;
  }
}

.game-element-wrapper.page {
  width: 90%;
  height: unset;
  display: flex;
  flex-direction: column;

  .element-relationships {
    display: flex;
    flex-wrap: wrap;
  }
  .element-notes {
    display: flex;
  }
}
