.game-elements-container {
  .view-select-wrapper {
    display: flex;
    gap: 5px;
    margin: 10px;

    button.selected {
      background-color: rgb(196, 255, 231);
    }

    img {
      width: 30px;
      height: 30px;
    }
  }

  .game-elements-wrapper {
    .game-elements-list-wrapper {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      gap: 10px;
    }
  }
}

.game-element-container {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
