.add-item-wrapper {
  width: 85%;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  gap: 10px;
  justify-content: center;

  .add-item-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    width: 40%;
    padding: 20px;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    background: var(--surface-card);
  }
}
